
#project{
    overflow:hidden;
    min-height:calc(100vh-4rem);
    width:100vw;
    max-width:60rem;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin:0 auto;
    /* background-color:red; */
}
.heading{
    font-size:3rem;
    font-weight:600;
    padding-top:3rem;
    margin-bottom:1.5rem;
}
.projectCard{
    display:flex;
    height:15rem;
    background-color:grey;
    border-radius:2rem;
    margin:.75rem;
    overflow:hidden;
}
.description{
    padding:1rem;
}
.features{
    margin-top:1rem;
}
.img{
    object-fit: cover;
    overflow:hidden;
    width:20rem;
    height:13rem;
    margin:1rem;
    border-radius:1rem;
}
.a{
    background-color: rgb(81, 112, 81);
    margin-top:2rem;
}
.githubLogo{
    width:2rem;
    height:2rem;
}
.title{
    font-size:2rem;;
    font-weight:600;
}
.left{
    margin-left:1rem;
}
@media screen and (max-width:480px){
    #project{
        display:flex;
        margin-left:2rem;
    }
    .projectCard{
        height:10rem;
        width:30rem;
    }
    .img{
        width:6rem;
        height:5rem;
    }
    .title{
        font-size:1rem;;
        font-weight:500;
    }
    .githubLogo{
        width:1rem;
        height:1rem;
    }
}
@media screen and (max-width:430px){
    #project{
        display:flex;
        margin-left:1rem;
    }
    .projectCard{
        height:10rem;
        width:25rem;
    }
    .img{
        width:6rem;
        height:5rem;
    }
    .title{
        font-size:1rem;;
        font-weight:500;
    }
    .githubLogo{
        width:1rem;
        height:1rem;
    }
    .heading{
        font-size:2rem;
    }
    .features{
        font-size:.75rem;
    }
}

@media screen and (max-width:650px){
    .img{
        
        width:8rem;
        height:6rem;
    }
    .title{
        font-size:1rem;;
        font-weight:500;
    }
    .githubLogo{
        width:1rem;
        height:1rem;
    }
}