#intro{
    height: calc(100vh-4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    /* display:flex;
    justify-content:space-between; */
}
.bg{
    position: absolute;
    /* display:flex; */
    top: 5rem;
    right:0;
    z-index: -1;
    object-fit: cover;
    height:70vh;
    /* width:40vw; */
}
.introContent{
    height:100vh;
    width:100vw;
    padding:2rem;
    font-size:3rem;
    font-weight:700;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.hello{
    font-size:1.75rem;
    font-weight:100;
}
.introName{
    color:yellow;
}
.introPara{
    font-size:medium;
    font-weight:300;
    latter-spacing:1px;
}
.btn{
    margin: 1rem 0;
    background:white;
    padding:0.75rem 1.5rem;
    border:none;
    border-radius:2rem;
    cursor:pointer;
}
.btnImg{
    object-fit:cover;
    margin:0 0.25rem;
    height:1rem;
    
}
@media screen and (max-width:840px){
    .bg{
        right:-10vw;
    }
}
@media screen and (max-width:700px){
    .bg{
        /* right:-20vw; */
        left:-20vw;
    }
}
.static{
    min-height:4rem;
}
.dynamic{
    margin-top:-1.5rem;
    position:absolute;
    z-index:3;
    height:4rem;
    overflow:hidden;
}

.dynamic li{
    list-style:none;
    position:relative;
    top:0;
    color:yellow;
    height:4rem;
    animation: anime 8s steps(2) infinite;
}
@keyframes anime{
    0%{
        top:0;
    }
    100%{
        top:-10rem;
        margin-bottom:2rem;
    }
}
.dynamic li span::after{
    content:"";
    left:0;
    background:rgb(30,30,30);
    position:absolute;
    height:100%;
    width:100%;
    border-left:2px solid yellow;
    animation: anim 4s steps(17) infinite;
}
@keyframes anim {
    100%{
        left:100%;
        margin: 0 35px 0 35px;
    }
}
.desktopMenuButton{
    border:none;
    background:white;
    color:black;
    boredr:none;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:0 1rem;
    border-radius:2rem;
}
.desktopMenuImg{
    object-fit:cover;
    height:1rem;
    width:1rem;
    margin:1rem
}